@font-face {
  font-family: 'Bakbak One';
  src: url('../fonts/BakbakOne-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Regular.ttf');
  font-weight: 400;
}