// Container
.container {
  max-width: ($containerWidth + $containerPadding) + px;
  width: 100%;
  margin: 0 auto;
  padding: 0 $containerSidePadding + px;

  @media (max-width: $breakpoint1450) {
    // max-width: 1200px;
  }

  @media (max-width: $breakpoint992) {
    // max-width: 970px;
  }

  @media (max-width: $breakpoint768) {
    // max-width: 740px;
  }

  @media (max-width: $breakpoint480) {
    // max-width: none;
  }
}

// Body Locked
body {
  font-family: var(--primary-font);
  color: var(--white-color);
  background-color: var(--bg-color);

  &.locked {
    overflow: hidden;
  }
}

// Animations
// Fade
@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 12px 22px;
  background: var(--bg-btn);
  border-radius: 24px;
  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--white-color);
  transition: transform 0.2s linear;

  &:hover {
    transform: scale(1.05);
  }

}

.main-title {
  margin-bottom: 60px;
  text-transform: uppercase;
  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: 44px;
  line-height: 56px;
  text-align: center;
  color: var(--white-color);
}