.selling {
  position: relative;
  padding: 50px 0;
  margin-bottom: 120px;
  background: var(--bg-card);
  border-radius: 30px;
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    left: -40%;
    top: -10%;
    width: 1100px;
    height: 900px;
    background: radial-gradient(34.98% 34.98% at 50% 50%, rgba(114, 91, 218, 0.5) 0%, rgba(6, 19, 45, 0) 100%)
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */
    ;
    opacity: 0.5;
  }

  @media (max-width: $breakpoint768) {
    margin-bottom: 60px;
  }

  // .selling__inner

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

    @media (max-width: $breakpoint992) {
      flex-direction: column;
      gap: 40px;
    }
  }

  // .selling__info

  &__info {
    flex: 0 1 550px;
    text-align: left;

    @media (max-width: $breakpoint992) {
      flex: 0 1 auto;
      text-align: center;
    }
  }

  // .selling__title

  &__title {
    margin-bottom: 20px;
    text-align: left;

    @media (max-width: $breakpoint992) {
      text-align: center;
    }
  }

  // .selling__descr

  &__descr {
    margin-bottom: 40px;
    font-size: 20px;
    line-height: 28px;
  }

  // .selling__link

  &__link {
    width: fit-content;

    @media (max-width: $breakpoint992) {
      margin: 0 auto;
    }
  }

  // .selling__pictures

  &__pictures {
    display: flex;
    gap: 15px;
  }

  // .selling__pictures-list

  &__pictures-list {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &:nth-child(1) .selling__pictures-item:nth-child(1) {
      margin-bottom: 30px;
    }

    &:nth-child(2) .selling__pictures-item:nth-child(2) {
      margin: 15px 0;
    }
  }

  // .selling__pictures-item

  &__pictures-item {}

  // .selling__pictures-img

  &__pictures-img {
    max-width: 100%;
  }
}